

.offer h3{
 text-align: center;
 text-transform: uppercase;
 color: #181D27;
 font-weight: 900;
 font-size: 3rem;
}

.offer-img img{ 
 width: 30rem;
 height: 26rem;
 margin-top: 7rem;
 margin-left: 14rem;
}

.offer-img p{
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}
